/output
/out
/data
wandb
build
.vscode
.pytest_cache
.cache
*.pyc
*.pt
*.so
*.o
*.prof
.nfs*
/im2mesh/utils/libmcubes/mcubes.cpp
/im2mesh/utils/libsimplify/simplify_mesh.cpp
/im2mesh/utils/libsimplify/build

/RenderForCNN
/env
/titan_env
.env

*.jpg
*.png
*.bmp
*.pkl
*.csv
*.obj
*.off
*.ply
*.npz
*.mtl
wandb/
*.zip
*.tar.gz
